

#msgTitle {
  position: fixed;
  font-family: 'ultra', impact;
  font-size: 2.5em;
  font-weight: bolder;
  text-shadow: 1px 1px 1px red, 2px 2px 1px red;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  padding: 0.3em;
  color: #bbaa71;
  background: rgb(90 127 125);
}

#messageHolder {
  margin: auto;
  margin-top: 5em;
  font-size: 1.2em;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  text-align: center;
}

.openMsg {
  background: rgb(252, 252, 78, 0.2);
}

.replied {
  background: rgb(76, 163, 26, 0.2);
}

#message {
  border: solid;
  border-width: 1px;
  border-radius: 0.3em;
  margin: 1em;
}

#nameField {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  font-weight: bold;
}

#msgSubject {
  text-align: left;
  border-bottom: solid;
  font-size: 1.12em;
    color: rgb(140, 129, 142);
}

#msgSubject, #msgText {
  padding: 0.8em;
}

.msgButHolder {
  display: inline-block;
  width: 100%;
}

#msgBut {
  float: right;
  height: 1.3em;
  font-size: 1em;
  margin-right: 1.2em;
}

@media only screen and (min-width: 800px) {
    #messageHolder {
      max-width: 50em;
    }
}