
#slogan{
  width: 100%;
  margin-bottom: 2em;
}

#quoute {
  margin-top: 2em;
  font-family: 'Great Vibes', serif;
  font-size: 2.3em;
  min-width: 100%;
}

#start {
  position: relative;
  z-index: 20;
  margin: auto;
  min-height: 16em;
  text-align: center;
  background: rgba(220, 240, 216, 0.5);
  width: 98%;
  max-width: 40em;
}

#head {
  font-size: 1.8em;
  background: rgba(143, 40, 40, 0.6);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding-right: 2.7em;
}

#head2 {
  font-size: 1.05em;
  /*font-family: 'Potta One', cursive;*/
  background: rgba(143, 40, 40, 0.4);
  vertical-align: bottom;
}

#inputHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  height: 8em;
  max-width: 35em;
}

#yoda {
  position: absolute;
  right: -1.2em;
  top: -2.9em;
}

img { 
  width: 100%; 
  height: auto; 
}

#t-left, #t-right {
  width: 45%;
  object-fit: cover;
  flex-shrink: 1;
  min-width: 0;
  margin: 2.5%;
}

.startInput {
  background-color: rgba(90, 127, 145);
	margin: auto;
  font-size: 1.3em;
	height: 1.5em;
  width: 7em;
  margin-left: 1em;
  margin-right: 1em;
}

#noName {
  visibility: hidden;
  color: red;
}

#startGame {
  width: 6em;
}

@media only screen and (min-height: 1000px) {
  #slogan {
    margin-bottom: 17%;
  }
}
