

#timer {
  position: absolute;
  font-size: 1.2em;
  right: 0;
  top: -1.3em;
}

#name {
  position: absolute;
  font-size: 1.2em;
  left: 0;
  top: -1.3em;
}

#exercise {
  display: inline-block;
  font-size: 1.2em;
  
  position: relative;
	background: rgb(255, 255, 255, 0.9);
	margin: auto;
  margin-top: 10%;
	width: 55em;
  min-height: 22em;
  text-align: center;
  padding-bottom: 3em;
}

#picHold {
  position: relative;
  display: inline-flex;
  margin: auto;
}

.picture {
  max-width: 25em;
  height: auto;
}

#answers {
  padding-bottom: 3em;
}

#matchAns {
  display: flex;
  flex-wrap: wrap;
}
.matchAn {
  border-style: solid;
  border-width: 1px;
  margin: 0.8em;
  padding: 0.1em;
  /*z-index: 6;*/
}

.answered {
  border: none;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255, 1);
}

.answered:hover {
  background:rgb(216, 229, 243);
}

table {
  position: relative;
	width: 100%;
  margin: auto;
}

#question {
	font-size: 1.5em;
  padding: 1.3em;
}

tr {
  height: 1.5em;
}


td {
  padding-left: 1em;
  padding-right: 1em;
  
}

.ans {
  border-bottom: 1px dotted #ccc;
}

hr {
  margin-left: 3em;
  margin-right: 3em;
}

.checkbox {
  margin-left: 2em;
  margin-right: 2em;
  float: right;
}

#back, .next, .nextMoved, #finish {
  position: absolute;
  width: 4em;
  height: 1.6em;
}

#back {
  left: 6em;
  bottom: 1.5em;
}

#back:hover {
  left: 5.6em;
  bottom: 1.2em;
}

.next {
  right: 6em;
  bottom: 1.5em;
}

.next:hover {
  right: 5.6em;
  bottom: 1.2em;
}

#finish {
  right: 3em;
  bottom: -3em;
}

#finish:hover {
  right: 2.6em;
  bottom: -2.7em;
}

#ruller {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0.8em;
  flex-direction: row;
  bottom: 0;
}

.bar {
  flex-grow: 1;
  background: rgb(255, 217, 179);
  border-style:solid;
  border-color: rgb(199, 198, 198);
  border-width: 1px;
}

.bar:hover {
  background: rgba(90, 127, 165)
}

.done {
  background: rgba(90, 127, 125);
}

.doing {
  background: rgb(235, 141, 87);
}

:not(svg) {
  transform-origin: 0px 0px;
}

#topDiv, #botDiv {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 1.2em;

}

#topDiv{
  top: 0;
}

#botDiv {
  bottom: 0;
}

#leftDiv, #rightDiv {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 8em;
  height: 100%;
}

#leftDiv {
  padding-top: 0.87em;
  left: -6.5em;
}

#rightDiv {
  padding-top: 1.4em;
  right: -6.5em;
}

.answerDiv {
  flex: auto;
  width: 4em;
  height: 1.2em;
  border-style: solid;
  border-color: rgb(233,42,38);
  background:white;
  margin-right: 0.2em;
  margin-left: 0.2em;
  z-index: 5;
  overflow: hidden;
}

.answerDiv:hover {
  background:rgba(90, 127, 125);
}