

#slogan{
  width: 100%;
  margin-bottom: 4em;
}

#quoute {
  margin-top: 2em;
  font-family: 'Great Vibes', serif;
  font-size: 2.3em;
  min-width: 100%;
}

#start {
  position: relative;
  z-index: 20;
  margin: auto;
  min-height: 16em;
  text-align: center;
  background: rgba(220, 240, 216, 0.5);
  width: 98%;
  max-width: 40em;
  border-radius: 0.3em;
}

#head {
  font-size: 1.8em;
  background: rgba(143, 40, 40, 0.6);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding-right: 2.7em;
}

#head2 {
  font-size: 1.05em;
  font-family: cursive;
  background: rgba(143, 40, 40, 0.4);
  vertical-align: bottom;
}

#inputHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  height: 8em;
  max-width: 35em;
}

#yoda {
  position: absolute;
  right: -1.2em;
  top: -2.9em;
}

img { 
  width: 100%; 
  height: auto; 
}

#t-left, #t-right {
  width: 45%;
  object-fit: cover;
  flex-shrink: 1;
  min-width: 0;
  margin: 2.5%;
}

#noName {
  visibility: hidden;
  color: red;
}

#startGame {
  width: 6em;
}

#ikea {
  font-family: Ikea sans-serif, Arial;
}

@media only screen and (min-height: 800px) {
  #slogan {
    font-size: 1.4em;
    margin-bottom: 10em;
  }
}
