

#timer {
  position: absolute;
  right: 0;
  top: -1.2em;
}

#exercise {
  display: inline-block;
  font-size: 1.2em;
  
  position: relative;
	background: rgb(255, 255, 255, 0.9);
	margin: auto;
  margin-top: 17%;
	width: 55em;
  height: 22em;
  text-align: center;
}

table {
	width: 100%;
  margin: auto;
}

#question {
	font-size: 1.5em;
  padding: 1.3em;
}

tr {
  height: 1.5em;
}


td {
  padding-left: 1em;
  padding-right: 1em;
  
}

.ans {
  border-bottom: 1px dotted #ccc;
}

hr {
  margin-left: 3em;
  margin-right: 3em;
}

.checkbox {
  margin-left: 2em;
  margin-right: 2em;
  float: right;
}

#back, .next, .nextMoved, #finish {
  position: absolute;
  width: 4em;
  height: 1.6em;
}

#back {
  left: 6em;
  bottom: 1.5em;
}

#back:hover {
  left: 5.6em;
  bottom: 1.2em;
}

.next {
  right: 6em;
  bottom: 1.5em;
}

.next:hover, #finish:hover {
  right: 5.6em;
  bottom: 1.2em;
}

#finish {
  visibility: hidden;
  right: 6em;
  bottom: 1.5em;
}

.nextMoved{
  right: 14em;
  bottom: 1.5em;
}

.nextMoved:hover {
  right: 13.6em;
  bottom: 1.2em;
}

#ruller {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0.8em;
  flex-direction: row;
  bottom: 0;
}

.bar {
  flex-grow: 1;
  background: rgb(255, 217, 179);
  border-style:solid;
  border-color: rgb(199, 198, 198);
  border-width: 1px;
}

.bar:hover {
  background: rgba(90, 127, 165)
}

.done {
  background: rgba(90, 127, 125);
}

.doing {
  background: rgb(235, 141, 87);
}