
@font-face {
  font-family: 'bungee';
  src: url('/static/Bungee.ttf')  format('truetype')
}

@font-face {
  font-family: 'bangers';
  src: url('/static/bangers.ttf')  format('truetype')
}

.checker{
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  border: 2px solid #555;
  border-radius: 100%;
  transition: all ease-out 200ms;
  text-indent: 4em;
  font: normal normal 1.5em/3em "Helvetica";
  white-space: nowrap;
  color: #555;
  user-select: none;
}

.checker:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 50%;
  width: 0px;
  height: 0.2em;
  border-bottom: 2px solid #22b573;
  border-left: 2px solid #22b573;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all ease-out 200ms;
}


input[type=checkbox]:checked ~ .checker{
  border: 2px solid #22b573;
}
  
input[type=checkbox]:checked ~ .checker:after {
  opacity: 1;
  width: 0.7em;
}

input[type=checkbox] {
  opacity: 0;
}

#exercise {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  margin: auto;
  margin-top: 2em;
  width: 100%;
  min-height: 22em;
  text-align: center;
  padding-bottom: 3em;
  padding-right: 0.7em;
  margin-bottom: 3em;
  max-width: 900px;
}

#exNav {
  width: 100%;
  margin-bottom: 1em;
}

#timer, #name, #darth {
  display: inline-block;
}

#timer {
  float: right;
  font-size: 1.2em;
  font-family: 'bungee', cursive;
}

#name {
  float: left;
  font-size: 1.2em;
  font-family: 'bangers', cursive;
}

#darth {
  margin-left: 0.6em;
}

#darth img {
  height: 1.2em;
}

#answers {
  width: 100%;
  padding-bottom: 3em;
}

.nontouch {
  touch-action: none;
}

#matchAns {
  display: flex;
  flex-wrap: wrap;
}
.matchAn {
  border-style: solid;
  border-width: 1px;
  margin: 0.8em;
  padding: 0.1em;
}

.answered {
  border: none;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255, 1);
}

.answered:hover {
  background:rgb(216, 229, 243);
}

table {
  position: relative;
  border-collapse: collapse;
	width: 100%;
  margin: auto;
}

#question {
  width: 100%;
	font-size: 1.3em;
  padding-bottom: 1em;
  padding-top: 1em;
}

tr {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 0.2em;
}

.answers:hover {
  cursor: grab;
}



tr:hover, .movable:hover, .matchAn:hover {
  cursor: grab;
}

.rowCh {
  color:#22b573;
}

td {
  padding: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;  
}


hr {
  margin-left: 3em;
  margin-right: 3em;
}

.checkbox {
  margin-left: 2em;
  margin-right: 2em;
  float: right;
}

#controls {
  width: 100%;
}

#ruller {
  display: flex;
  width: 100%;
  height: 0.8em;
  flex-direction: row;
  margin-top: 2em;
}

.bar {
  flex-grow: 1;
  background: rgb(255, 217, 179);
  border-style:solid;
  border-color: rgb(199, 198, 198);
  border-width: 1px;
}

.bar:hover {
  background: rgba(90, 127, 165)
}

.done {
  background: rgba(90, 127, 125);
}

.doing {
  background: rgb(235, 141, 87);
}

#pickHolder {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.pickTurn {
  flex-direction: column;
}

.pict {
  height: auto;
  width: 70%;
}

#topDiv, #botDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.divNorm {
  width: 0%;
}

.divTurn {
  width: 100%;
}

#leftDiv, #rightDiv {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.answerDiv {
  width: 100%;
  height: 1.3em;
  font-size: 1em;
  border-style: solid;
  border-color: rgb(233,42,38);
  border-width: 1px;
  background: white;
  z-index: 5;
  overflow: hidden;
}

.answerTurn {
  width: 4.5em;
  min-height: 0.8em;
}

.answerDiv:hover {
  background:rgba(90, 127, 125);
}

#finish {
  visibility: hidden;
  margin-right: 0;
  margin-bottom: 0;
}

#exBack {
  visibility: hidden;
}

.right {
  background: rgb(141, 240, 134);
}

.wrong {
  background: rgb(240, 101, 79);
}
@media only screen and (min-width: 500px) {

  #exercise {
    font-size: 1.2em;
  }

  .answerDiv {
    border-width: 3px;
  }

  td {
    padding: 0.6em;
    padding-right: 1em;
    padding-left: 0.5em;  
  }

  .back, .sub, .next {
  width: 4em;
  height: 1.4em;
}

}

@media only screen and (min-width: 650px) {

  .pict {
    width: 60%
  }

  #leftDiv, #rightDiv {
    width: 20%;
  }

  .sub, .next {
    margin-right: 2em;
  }

  .back {
    margin-left: 2em;
  }

  .answerDiv {
    font-size: 1em;
  }

  .answerTurn {
    width: 6.2em;
  }
}

@media only screen and (min-width: 950px) {
  #exercise {
    font-size: 1.3em;
  }

  .sub, .next {
    margin-right: 3em;
  }

  .back {
    margin-left: 3em;
  }
}

@media only screen and (min-width: 1300px) {
  .picHolder {
    max-width: 800px;
  }
}

@media only screen and (min-height: 900px) {
  #exercise {
    margin-top: 6%;
  }
}


.pictureTurn {
  width: 100%;
}