

table {
  margin: auto;
	border-collapse: collapse;
  font-size: 1.3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

th {
  color: rgb(136, 27, 27);
  border-bottom: 2px solid black;
}

tr {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

td {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}

.fading {
  animation: 8000ms ease-in-out color-change;
}

.but, .but:hover {
  height:1.2em;
  width: 4.5em;
  font-size: 1em;
}


@keyframes color-change {
  0% {
    background-color: rgba(255, 187, 0, 0.795);
  }
  50% {
    background-color: rgba(255, 217, 0, 0.363);
  }
  100% {
    background-color: white;
  }
}



