
h1 {
  width: 100%;
}

table {
  margin: auto;
	border-collapse: collapse;
  font-size: 1.3em;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%;
}

th {
  color: rgb(136, 27, 27);
  border-bottom: 2px solid black;
}

tr {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.commTd {
  max-width: 5em;
  position: relative;
}

.fading {
  animation: 8000ms ease-in-out color-change;
}

#viewBut, #commBut, #viewBut:hover, #commBut:hover, #delBut, #delBut:hover  {
  height:1.2em;
  width: 4.5em;
  font-size: 1em;
}

#commBut, #commBut:hover  {
  width: 7em;
}

.comment{
  height: 1em;
  overflow: hidden;
  color: rgb(88 109 185);
}

.comment:hover{
  cursor: pointer;
}

.visible {
  position: absolute;
  z-index: 10;
  top: 0.5em;
  overflow: visible;
  background: rgb(247, 252, 251);
  max-width: 20em;
  max-height: 10em;
  display: table;
  border: solid;
  border-color: grey;
  padding: 3em;
  border-width: 1px;
}

#comImpHolder {
  width: 100%;
}

#commName {
  float: right;
}

#addComm {
  float: right;
  width: 8em;
}

#commHolder {
  margin-top: 1em;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.commName {
  color: #983253;
  
}


@keyframes color-change {
  0% {
    background-color: rgba(255, 187, 0, 0.795);
  }
  50% {
    background-color: rgba(255, 217, 0, 0.363);
  }
  100% {
    background-color: white;
  }
}

@media only screen and (min-width: 600px) {
  td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }
}

@media only screen and (min-width: 800px) {
  td {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}



