
:root {
  --butt-bac-color: rgba(90, 127, 125);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;

}


#cover {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.pop {
  padding: 2em;
  visibility: hidden;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-top: - 8em;
  margin-left: - 15em;
  background: #42c934;
  width: 30em;
  height: 16em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(112, 145, 121);
}

#duration {
  flex-direction: unset;
  flex-wrap: wrap;
}

#timeTable {
  font-size: 4em;
  margin-left: 20%;
  margin-right: 20%;
}

.low th{
  height: auto;
}


.but, .back, .x, .sub {
  font-family: inherit; /* 1 */
  line-height: 1.15; /* 1 */
  font-size: 1.2em;
  padding: 0;
  text-align: center;
  border-style: solid;
  background: rgba(90, 127, 125);
}

.x:hover, .but:hover, .back:hover, .sub:hover {
  font-size: 1.3em;
  color: white;
  background: rgba(90, 127, 165);
}

.but {
  display: block;
  width: 9.5em;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  height: 2.8em;
}

.but:hover, .back:hover, .sub:hover {
  transition: 0.8s;
}

.x {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
}

.x:hover {
  top: 0.2em;
  right: 0.2em;
}

.x:hover .printx {
  font-size: 0.8em;
}

.x:focus {
  outline: none;
  box-shadow: none;
}

.back, .sub {
  position: absolute;
  bottom: 10px;
  width: 5em;
  height: 1.8em;
  border-style: solid;
}

.back {
  left: 10px;
}

.sub {
  right: 50px;
}

.printx {
  font-size: 0.6em;
}

.menuHolder {
  position: fixed;
  z-index: 2;
  top: 8px;
  left: 8px;
}

.menu {
  transition: 0.3s;
  display:inline-block;
  top: 10px;
  width: 2.2em;
  height: 4.5px;
  background: black;
  box-shadow: 
    0 9px 0 0 black,
    0 18px 0 0 black;
  margin-bottom: 2em;
}

.menuHolder:hover .menu {
  
  background: #fcc203;
  box-shadow: 
    0 0.6em 0 0 #fcc203,
    0 1.2em 0 0 #fcc203;
}

.menuHolderOpen {
  transition: 0.2s;
  transition-delay: 0.1s;  
  left: 4.6em;
}


#brand {
  color: rgba(57, 158, 46);
  font-size: 1.3em;
  float: right;
  margin-right: 2em;
}

#sideBar{
  background: rgba(90, 127, 125);
  
}

.slide {
  transition: 0.3s;
  position: fixed;
  width: 4.5em;
  font-size: 1.7em;
  left: -4.5em;
  top: 0px;
  background: rgba(90, 127, 125);
}

.open {
  left: 0;
}

.sideTop {
  height: 2em;
}

.slide button {
  font-family: inherit; /* 1 */
  line-height: 1.15; /* 1 */
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  height: 1.2em;
  width: 100%;
  border: none;
  background: rgba(90, 127, 125);
}

.slide button a {
  color: inherit;
  text-decoration: inherit;
}

.slide button a:hover {
  cursor: inherit;
}

.slide button:hover {
  color: white;
  background: rgba(90, 127, 165);
}

.slide button:focus {
  outline: none;
  box-shadow: none;
}

#profilePic img {
  height: 3em;
}

/*      login popup */

#sign {
  display: hidden;
  z-index: 20;
}

.popInput {
  font-size: 1.3em;
}

.popInput {
  background-color: rgba(90, 127, 145);
  display: block;
	margin: auto;
	height: 2em;
  width: 14em;
}
::selection {
  background: rgba(90, 127, 145);
}

.popInput:focus {
  background-color: rgba(90, 127, 145);
}

.popInput .but {
  height: 1.2em;
}

::placeholder {
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content{
  padding-bottom: 3em;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
}
