
@font-face {
  font-family: 'ultra';
  src: url('/static/ultra.ttf')  format('truetype')
}

:root {
  --butt-bac-color: rgba(90, 127, 125);
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

#D2 img {
  position: absolute;
  right: 0;
  top: -0.5em;
  width: 10em;
}

#cover {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.pop2 {
  padding: 2em;
  visibility: hidden;
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  margin-top: -8em;
  margin-left: -15em;
  width: 30em;
  min-height: 10em;
  text-align: center;
  display: flex;
  border-radius: 0.4em;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(193, 228, 202);
}

#contactPop {
  margin-top: -14em;
}

.startInput {
  background-color: rgba(90, 127, 145);
	margin: auto;
  font-size: 1.3em;
	height: 1.5em;
  width: 7em;
  margin-left: 1em;
  margin-right: 1em;
}

.commentArea {
  font-size: 1.3em;
  width: 100%;
  height: 6em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: rgba(90, 127, 145);
}

.cont {
  margin: 1em;
  font-size: 1.1em;
	height: 1.2em;
  width: 12em;
}

#popButHolder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 2em;
  /* margin-bottom: 1em; */
}

.errorMsg {
  color: red;
}

#manageError {
  margin: 0.5em;
}

.hid {
  visibility: hidden;
}

#password {
  background-color: rgba(90, 127, 145);
  font-size: 1.1em;
  height: 1.3em;
  width: 9em;
  margin-right: 1em
}


.but, .x {
  display: inline-block;
  border-radius: 0.7em;
  font-family: inherit;
  line-height: 1.15;
  font-size: 1.2em;
  width: 4.5em;
  height: 2em;
  padding: 0;
  text-align: center;
  border-style: solid;
  background: rgba(90, 127, 125);
}

#manBut {
  float: right;
}

.x:hover, .but:hover {
  font-size: 1.25em;
  color: white;
  background: rgba(90, 127, 165);
  cursor: pointer;
}

.but:hover {
  transition: 0.8s;
}

.but:focus {
  outline: none;
}

.next {
  float: right;
  margin-right: 0.8em;
}

.back {
  float: left;
  margin-left: 0.8em;
}

.x {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
}

.x:hover {
  top: 0.2em;
  right: 0.2em;
}

.x:hover .printx {
  font-size: 0.8em;
}

.x:focus {
  outline: none;
  box-shadow: none;
}

.printx {
  font-size: 0.6em;
}

.menuHolder {
  position: fixed;
  z-index: 302;
  top: 8px;
  left: 8px;
}

.menu {
  transition: 0.3s;
  display:inline-block;
  top: 10px;
  width: 2.2em;
  height: 4.5px;
  background: black;
  box-shadow: 
    0 9px 0 0 black,
    0 18px 0 0 black;
  margin-bottom: 2em;
}

.menuHolder:hover .menu {
  
  background: #fcc203;
  box-shadow: 
    0 0.6em 0 0 #fcc203,
    0 1.2em 0 0 #fcc203;
}

.menuHolderOpen {
  transition: 0.2s;
  transition-delay: 0.1s;  
  left: 4.6em;
}


#brand {
  color: rgba(57, 158, 46);
  font-size: 1.3em;
  float: right;
  margin-right: 2em;
}

#sideBar{
  position: relative;
  z-index: 300;
  background: rgba(90, 127, 125);
  
}

.slide {
  transition: 0.3s;
  z-index: 100;
  position: fixed;
  width: 4.5em;
  font-size: 1.7em;
  left: -4.5em;
  top: 0px;
  background: rgba(90, 127, 125);
}

.open {
  left: 0;
}

.sideTop {
  height: 2em;
}

.slide button {
  font-family: inherit; /* 1 */
  line-height: 1.15; /* 1 */
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  height: 1.2em;
  width: 100%;
  border: none;
  background: rgba(90, 127, 125);
}

.slide button a {
  color: inherit;
  text-decoration: inherit;
}

.slide button a:hover {
  cursor: inherit;
}

.slide button:hover {
  color: white;
  background: rgba(90, 127, 165);
}

.slide button:focus {
  outline: none;
  box-shadow: none;
}

#profilePic img {
  height: 3em;
}

/*      login popup */

#sign {
  display: hidden;
}

.popInput {
  font-size: 1.3em;
}

.popInput {
	margin: auto;
	height: 2em;
  width: 100%;
}
::selection {
  background: rgba(90, 127, 145);
}

.popInput:focus {
  background-color: rgba(90, 127, 145);
}

.popInput .but {
  height: 1.2em;
}

::placeholder {
  color: white;
}

#page-container {
  position: relative;
  min-height: 96vh;
  
}

#content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

#footer {
  width: 100%;
  height: 1em;
  z-index: -1;
}

.success {
  visibility: hidden;
  position: fixed;
  z-index: 255;
  top: 50%;
  left: 50%;
  margin-left: -15em;
  width: 30em;
  text-align: center;
  border-radius: 0.4em;
  background: rgba(70, 235, 52);
  padding: 1em;
  opacity: 1;
  transition: opacity 3s linear;
}

.successGone {
  opacity: 0;  
}

#copy small {
  color: blue;
  text-decoration: underline;
  font-size: 1em;
}

#copy small:hover {
  cursor: pointer;
}

/*responsive*/

.sub {
  float: right;
  margin-right: 2em;
  margin-bottom: 1em;
}