<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} Hardware Quiz</title>
  <link rel="stylesheet" media='screen and (min-width:426px)' href="{{ url_for('static', filename='mid_style.css') }}">
  {% endblock %}
</head>
<body>
  <div id="page-container">
    <div id='cover'></div>
      <div class='menuHolder' onclick="openSlide()">
        <div class="menu"></div>
      </div>
      {% if manage %}
      <div id='sideBar'>
        <div class='slide'>
          <div class='sideBut'>
            <div class="sideTop"></div>
            <button><a href={{url_for('quiz')}}>Start Quiz</a></button>
            <button><a href={{url_for('power_ranking')}}>Ranking</a></button>
            <button onclick="logOut()">Log out</button>
            <button><a href={{url_for('messaging')}}>Messages</a></button>
          </div>
        </div>
      </div>
      {% else %}
      <div id='sideBar'>
        <div class='slide'>
          <div class='sideBut'>
            <div class="sideTop"></div>
            <button><a href={{url_for('quiz')}}>Start Quiz</a></button>
            <button><a href={{url_for('power_ranking')}}>Ranking</a></button>
            <button onclick="SignIn()">Manage</button>
            <button onclick="contact()">Contact us</button>
          </div>
        </div>
      </div>
    {% endif %}
    <div id='brand'>Hardware Quiz</div>
    <div id="content">{% block content %}{% endblock %}</div>
    
    <div id="pops">{% include "pops.html" %}</div>
    <div>{% include "pops_contact.html" %}</div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
  </div>
  <div id="footer">
    {% block footer %}
      <div id="copy">&copy; Copyright 2020 by <a href="http://domain.invalid/">Hardware Tech Team UK 269</a>.</div>
    {% endblock %}
  </div>
</body>
</html>