{% extends "base.html" %}

{% block head %}
{{ super() }}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
</head>
{% endblock %}

{% block content %}
<div id='msgTitle'><h1>Hardware technician messaging service</h1></div>


{% if messages %}
<div id='messageHolder'>
  {% for item in messages %}
    <div id="message" class='open'>
      <div id='nameField'>
        <div id='msgName'>Name: {{item.name}}</div>
        <div id="msgEmail">Email: {{item.email}}</div>
        <div id="msgDate">{{item.date}}</div>
      </div>
      <div id='msgSubject'>Subject: {{item.subject}}</div>
      <div id='msgText'>{{item.message}}</div>
    </div>
  {% endfor %}
</div>
{% else %}
  <div id='nothingToShow'>Nothing to show here yet.</div>
{% endif %}


<script src="{{ url_for('static', filename='ranking.js') }}"></script>

{% endblock %}