<div class='pop2' id='commentPop'>
    <button class='x' onclick="closeComm()"><div class='printx'>&#10005;</div></button>
    <div class="commInput">
      <textarea class="commentArea" placeholder='please enter your comment here'></textarea>
    </div>
    <div id="commInpHolder">
      <input class='startInput' id="commName" placeholder="Name">
    </div>
    <div id="popButHolder">
      <button class="but cancel" onclick="closeComm()">Cancel</button>
      <button class="but" id='subCom'  onclick="subComm()">Submit</button>
    </div>
</div>