{% extends "base.html" %}

{% block title %}chess{% endblock %}
{% block head %}
<head>
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='start_style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great Vibes">
</head>
{% endblock %}

{% block content %}
<div class='pop' id='getName'>
  <button class='x' onclick="closeName()"><div class='printx'>&#10005;</div></button>
  <h2> Please Enter Your Full Name</h2>
  <input class='popInput' id="fullName" placeholder="Name Surname">
  <div class="butHolder">
    <button class='sub' onclick="startGame()">Submit</button>
    <button class='back' onclick="closeName()">Cancel</button>
  </div>
</div>
<div id="slogan">
  <h2>Some shit... Some more shit...</h2>
  <h2>Something else</h2>
</div>

<button id='start' onclick="openName()">Start Quiz</button>
<script src="{{ url_for('static', filename='quiz.js') }}"></script>

{% endblock %}
