{% extends "base.html" %}

{% block title %}chess{% endblock %}
{% block head %}
<head>
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz_quiz.css') }}">
</head>
{% endblock %}

{% block content %}

{% if error %}
Error: {{error}}
{% else %}
<div id="exercise">
  <div id='exNav'>
    <div id='name'>
      {{name}}<div id='darth'><img src='/static/darth.png'></div>
    </div>
    <div id="timer">00:00</div>
  </div>
  <div id="pickHolder"></div>
  <div id="question"></div>
  <div id="answers">
    <table id="tbl"></table>
  </div>
  <div id='controls'>
    <button class="but back" id='exBack' onclick="back()">&#8810 Back</button>
    <button class='but next' id='next' onclick="next()">Next &#8811</button>
    <button class='but sub' id='finish' onclick="finish()">Submit</button>
  </div>
  <div id="ruller"></div>
</div>

<script type="text/javascript">
  var exercises = {{exercises| safe}};
  var time = '{{time}}';
  var selected = {{answers| safe}};
  var quizId = '{{quiz_id}}';
  var state = '{{state}}';
</script>
<script src="{{ url_for('static', filename='quiz_quiz.js') }}"></script>
{% endif %}
{% endblock %}