{% extends "base.html" %}

{% block title %}chess{% endblock %}
{% block head %}
<head>
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great Vibes">
</head>
{% endblock %}

{% block content %}
<div id="slogan">
  <div id="quoute">"Waste of resources is a mortal sin at IKEA." - Ingvar Kamprad</div>
</div>
<div id='start'>
  <div id="head"> Hardware Technician Quiz</div>
  <div id="head2">Do you have what it takes to become Hardware Jedy Knight?</div>
  <div>
    <input class='startInput' id="name" placeholder="Name">
    <input class='startInput' id="surname" placeholder="Surname">
  </div>
  <div id="noName">Please provide your full name</div>
  <div class="butHolder">
    <button class='sub' id="startGame" onclick="startGame()">Start Quiz</button>
  </div>
  <div id='yoda'><img src='/static/yoda.png'></div>
  <div id='t-left'><img src='/static/t-left.jpg'></div>
  <div id='t-right'><img src='/static/t-right.jpg'></div>
</div>

<script src="{{ url_for('static', filename='quiz.js') }}"></script>

{% endblock %}
