
{% extends "base.html" %}

{% block head %}
{{ super() }}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
</head>
{% endblock %}

{% block content %}
<h1>Power Ranking</h1>


{% if ranking %}
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Score</th>
    {% if manage %}
    <th>Comment</th>
    <th>View</th>
    <th>Delete</th>
    {% endif %}
  </tr>
  {% for item in ranking %}
  <tr class='rankTr' id={{item['id']}}>
    <td class='standing'></td>
    <td>{{item['participant']}}</td>
    <td>{{item['date']}}</td>
    <td>{{item['duration']}}</td>
    <td>{{item['score']}}</td>
    {% if manage %}
      {% if item['comments'] %}
      <td class="commTd">
        <div class="comment"  onclick="openComm(this)">
        {% for comm in item['comments'] %}
        <div class="comm"> {{comm['comment']}} 
          <p class='commName'>{{comm['name']}}</p>
        </div>
        {% endfor %}
        </div>
      </td>
      {% else %}
      <td><button class="but" id="commBut" onclick="comment(this)">add comment</button></td>
      {% endif %}
    <td><button class="but" id="viewBut" onclick="view(this)">view</button></td>
    <td><button class="but" id="delBut" onclick="del(this)">delete</button></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<div id='nothingToShow'>Nothing to show here yet.</div>
{% endif %}

<div>{% include "pops_comm.html" %}</div>
<div>{% include "pops_comm_view.html" %}</div>
<div>{% include "pops_del.html" %}</div>

<script>
  var rankId = '{{rank_id}}';
</script>
<script src="{{ url_for('static', filename='ranking.js') }}"></script>

{% endblock %}