
{% extends "base.html" %}

{% block head %}
{{ super() }}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
</head>
{% endblock %}

{% block content %}
<h1>Power Ranking</h1>


{% if ranking %}
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Score</th>
    {% if manage %}
    <th>Comment</th>
    <th>View</th>
    {% endif %}
  </tr>
  {% for item in ranking %}
  <tr class='rankTr' id={{item['id']}}>
    <td class='standing'></td>
    <td>{{item['participant']}}</td>
    <td>{{item['date']}}</td>
    <td>{{item['duration']}}</td>
    <td>{{item['score']}}</td>
    {% if manage %}
      {% if item['comments'] %}
      <td>
        <div class="comment" onclick="open(this)">
        {% for comm in item['comments'] %}
        <div class="comm"> {{comm['comment']}}</div>
        <div class="commName">{{comm['name']}}</div>
        {% endfor %}
        </div>
      </td>
      {% else %}
      <td><button class="but" id="commBut" onclick="comment(this)">add comment</button></td>
      {% endif %}
    <td><button class="but" id="viewBut" onclick="view(this)">view</button></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<div id='nothingToShow'>Nothing to show here yet.</div>
{% endif %}

<div class='pop2' id='viewComm'>
    <button class='x' onclick="closeDialog()"><div class='printx'>&#10005;</div></button>
    <div class="commHolder">
    </div>
      <button class="but" id='addComm'  onclick="manage()">Add Commentar</button>
    </div>
</div>

<div id="rankPops">{% include "pops_comm.html" %}</div>

<script>
  var rankId = '{{rank_id}}';
</script>
<script src="{{ url_for('static', filename='ranking.js') }}"></script>

{% endblock %}